.container {
  position: relative;
  width: 280px;
  height: 606px;
  padding-bottom: 32px;
  background-color: var(--white);
  box-shadow: 7px 4px 14px rgba(49, 21, 4, 0.07);
  border-radius: 0px 0px 20px 20px;
}
@media screen and (min-width: 768px) {
  .container {
    width: 336px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 288px;
  }
}
.imgWrapper {
  position: relative;
  width: 280px;
}
@media screen and (min-width: 768px) {
  .imgWrapper {
    width: 336px;
  }
}
@media screen and (min-width: 1280px) {
  .imgWrapper {
    width: 288px;
  }
}

.categoryLabel {
  position: absolute;
  text-align: center;
  top: 20px;
  left: 0;
  width: 158px;
  padding: 6px 20px;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(2px);
  border-radius: 0 20px 20px 0;
  font-size: 12px;
  line-height: 16px;
}
.infoWrapper {
  padding: 20px 20px 0px 20px;
}
.title {
  display: block;
  font-weight: 700;
  margin-bottom: 20px;
  font-size: 28px;
  line-height: 38px;
  height: 38px;
}
.infoList {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  justify-content: space-between;
}
.label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  line-height: 21.86px;
}
.lebalText {
  width: 60%;
  font-weight: 500;
  font-size: 16px;
  line-height: 21.86px;
}
.learnMoreBtnCont {
  flex-direction: column-reverse;
  width: 100%;
  position: absolute;
  bottom: 32px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.learnMoreBtn,
.deleteBtn {
  display: block;
  margin: 0 auto;
  width: 248px;
  height: 38px;
  padding: 8px 79px;
  background: var(--white);
  border: 2px solid var(--active);
  color: var(--active);
  border-radius: 40px;
  cursor: pointer;
  font-size: 16px;
}
.deleteBtn {
  margin-top: 12px;
}
.deleteBtn:hover,
.deleteBtn:focus,
.learnMoreBtn:hover,
.learnMoreBtn:focus {
  background-color: var(--active);
  color: var(--white);
  border: 2px solid var(--active);
  transition: var(--transition);
}
.heartBtn {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 44px;
  height: 44px;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 0;
  background-color: rgba(253, 247, 242, 0.5);
  border-radius: 50%;
  transition: var(--transition);
}
.heartBtn:hover {
  cursor: pointer;
  background-color: rgba(253, 247, 242, 1);
}
.heartItemBtnActive {
  background-color: none;
  fill: var(--active);
  border-radius: 50%;
}
.heartBtn:hover .heartItemBtn {
  fill: var(--active);
}

.heartItemBtn {
  fill: rgba(175, 177, 184, 0.1);
  border-radius: 50%;
  transition: var(--transition);
}
