.btnWrapper {
  display: flex;
  align-items: center;
  position: fixed;
  right: 15px;
  top: 500px;
  cursor: pointer;
  transition: var(--transition);
}
@media screen and (min-width: 768px) {
  .btnWrapper {
    position: relative;
    right: 0;
    top: 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
  }
}
@media screen and (min-width: 1280px) {
  .btnWrapper {
    position: relative;
  }
}
.btnWrapper:hover,
.btnWrapper:focus {
  color: var(--active);
}
.btn {
  border: none;
  outline: none;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 50%;
  background-color: var(--active);
  color: #fff;
  transition: var(--transition);
  cursor: pointer;
}
.btn:hover,
.btn:focus {
  font-size: medium;
}
@media screen and (min-width: 768px) {
  .btn {
    width: 44px;
    height: 44px;
    margin-left: 12px;
  }
}
.icon {
  width: 21.33px;
  height: 21.33px;
  margin-bottom: 5px;
  transform: scale(1);
  transition: var(--transition);
}

.btn:hover .icon,
.btn:focus .icon {
  transform: scale(1.4);
}
@media screen and (min-width: 768px) {
  .icon {
    width: 14px;
    height: 14px;
    margin-bottom: 0;
  }
}
